@font-face {
	font-family: 'Roboto';
	src: url('/public/Roboto/Roboto-Regular.ttf') format('ttf'),
	     url('/public/Roboto/Roboto-Bold.ttf') format('ttf'),
			 url('/public/Roboto/Roboto-Medium.ttf') format('tff');
	font-weight: normal;
	font-style: normal;
}

.container {
	display: flex;
	flex-direction: column;
	
	justify-content: center;
	align-items: center;

	gap: 10px;
	padding: 10px 0px 10px 0px;
	
	font-family: 'Roboto', sans-serif;
}

.label_container {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 50%;

	border: 1px solid rgba(30, 30, 30, .1);
	border-radius: 7px;
	box-shadow: 1px 3px 5px rgba(30, 30, 30, .1);

	padding: 10px;
}

.label_content {
	padding: 0px 10px 0px 10px;
	text-align: justify;
}

.label_content div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.select_style,
.input_style {
	margin-top: 20px;
	width: 40%;

	border: none;
	border-bottom: 1px solid rgba(30, 30, 30, .2);
	
	height: 30px;
}

.input_style:focus {
	outline: none;
	border-bottom: 1px solid rgba(255, 166, 0, 0.5);
	box-shadow: 1px 3px 5px rgba(30, 30, 30, .1);
}

.select_style {
	background-color: transparent;
}

.select_style:focus {
	outline: none;
}

.button_style {
	width: 120px;
	height: 30px;

	border: none;
	border-radius: 7px;

	background-color: rgba(30, 30, 30, .8);
	color: rgb(255, 255, 255);
}

.button_style:hover {
	cursor: pointer;
}

.container_button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
}

.input_checkbox_style,
.input_radio_content_style {
	display: flex;
	align-items: center;
	margin: 3px;
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 300px;
	height: 50px;

	border: none;
	border-radius: 7px;

	background-color: rgba(87, 248, 87, .5);
}

.progress {
	height: 5px;
	background-color: #ccc;
	border-radius: 3px;
	margin-top: 10px;
	width: 100%;
	position: relative;
}

.home_container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.side_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 10px;

	height: 300px;
	width: 100px;

	border: 1px solid rgba(30, 30, 30, .1);
	box-shadow: 1px 3px 5px rgba(30, 30, 30, .1);
	border-radius: 7px;
}

.option {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(30, 30, 30, .1);
	width: 70px;
	height: 30px;

	border-radius: 7px;
}

.option:hover {
	cursor: pointer;
}

.text_link {
	color: #000;
	text-decoration: none;
}

.side_area {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;
}

.main_area {
	display: flex;
	width: 80%;
	height: 100vh;
}

.program_description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	background-color: #202020;
	color: #fff;

	width: 40%;
	height: 100%;

	text-align: justify;
	font-size: 18pt;
}

.program_description p {
	padding: 0px 80px 0px 80px;
}

.program_5s {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #fba91f;
	width: 60%;
	height: 100vh;
	gap: 40px;
}

.program_5s p {
	font-size: 18pt;
}

.row1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.row2 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 70%;
}

.row2 h1 {
	font-size: 38pt;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row3 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50%;
}

.element {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #202020;
	color: #fff;

	width: 100px;
	height: 100px;

	border-radius: 50%;
}

.element p {
	margin: 7px;
	font-weight: bold;
}